@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --color-primary: #3d68c5;
  --color-primary-lighten: #6688d1;
  --color-primary-darken: #3054a1;
  --color-secondary: #aac3fa;
  --color-secondary-lighten: #d8e4fd;
  --color-secondary-darken: #78a0f7;
  --color-light-red: #fba5a5;
  --color-light-green: #93fbb7;

  --color-bg-backgroundBlock-light: #ffffff;
  --color-bg-backgroundBlock-dark: #21212c;
}


@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }

  .cormorant {
    font-family: 'Cormorant Garamond', system-ui, sans-serif;
  }


}